input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 8px;
  border: none;
}

input:focus,
:focus-visible {
  outline: #fff 2px solid;
}

.btn-container {
  display: flex;
  gap: 10px;
}
